<div class="sidebar">
  <div class="logo">
    <!-- <span class=""> GestionNoteLogo </span> -->
    <img src="assets/Capture-removebg-preview.png" alt="" />
  </div>
  <!-- admin -->
  <div class="sidebar-items" *ngIf="whosOnline == 'admin'">
    <div class="dashboard" routerLink="statistique">
      <span> <i class="bi bi-grid-1x2-fill"></i> Dashboard </span>
    </div>
    <div class="sidebar-item" routerLink="listProfesseur">
      <span>
        <i class="fa-solid fa-chalkboard-user"></i> Gestion Formateurs
      </span>
    </div>
    <div class="sidebar-item" routerLink="listApprenant">
      <span>
        <i class="fa-solid fa-graduation-cap"></i> Gestion Apprenants
      </span>
    </div>
    <div class="sidebar-item" routerLink="listClasse">
      <span> <i class="bi bi-hospital"></i> Gestion Classe </span>
    </div>
    <div class="sidebar-item" routerLink="addMatiere">
      <span> <i class="bi bi-journal-bookmark-fill"></i> Gestion Matière </span>
    </div>
  </div>
  <!-- prof -->
  <div class="sidebar-items" *ngIf="whosOnline == 'professeur'">
    <div class="sidebar-item" routerLink="listEvaluation">
      <span> <i class="fa-solid fa-note-sticky"></i> Gestion Evaluation </span>
    </div>
  </div>

  <!-- apprenant -->
  <div class="sidebar-items" *ngIf="whosOnline == 'apprenant'">
    <div class="sidebar-item">
      <span> <i class="fa-solid fa-note-sticky"></i> Gestion Evaluation </span>
    </div>
  </div>

  <div class="logout" (click)="deconnexion()">
    <span><i class="bi bi-box-arrow-left"></i> Déconnexion</span>
  </div>
</div>
