<div class="formulaire">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Matricule</label>
    <input
      [(ngModel)]="matricule"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder=""
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nom</label>
    <input
    [(ngModel)]="nom"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder=""
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Prenom</label>
    <input
    [(ngModel)]="prenom"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder=""
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
    [(ngModel)]="email"
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder=""
    />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Numero</label>
    <input
    [(ngModel)]="numero"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder=""
    />
  </div>
  <select class="form-select" aria-label="Default select example" [(ngModel)]="classe">
    <option selected>Classe</option>
    <option value="seconde">Seconde</option>
    <option value="premiere">Premiere</option>
    <option value="terminale">Terminale</option>
  </select>

  <div class="text-center d-flex justify-content-around mt-4">
    <button class="btn btn-danger w-25">Annuler</button>
    <button class="btn btn-primary w-25" (click)="ajouterApprenant()">Ajouter</button>
  </div>
</div>
