#list{
  // border: 2px rgb(41, 39, 39) solid;
}
#list td{
  border-bottom: 1px #3b71ca solid;
  // width: 10%;
}
#list td button{
  font-size: 12px;
  margin: 0 5px;
}

#actions{
  // width: 20%;
}

#search-addbtn input,#search-addbtn button
{
  width: 45%;
}
#search-addbtn button
{
  background-color: #20283E;
  color: white;
  font-weight: bold;
}
