<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td class="w-50 d-flex justify-content-between">
        <button class="btn btn-primary">Détails</button>
        <button class="btn btn-warning">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
   
  </tbody>
</table>
