<div class="sidebar">
  <div class="logo">
    <!-- <span class=""> GestionNoteLogo </span> -->
    <img src="assets/Capture-removebg-preview.png" alt="">
  </div>

  <div class="sidebar-items">
    <div class="sidebar-item">
      <span> <i class="bi bi-border-top"></i> Gestion Formateurs </span>
      <div class="link-bloc">
        <span id="link">Ajouter</span> <br />
        <span id="link">Lister</span>
      </div>
    </div>
    <div class="sidebar-item">
      <span> <i class="bi bi-border-top"></i> Gestion Apprenants </span>
      <div class="link-bloc">
        <span id="link">Ajouter</span> <br />
        <span id="link">Lister</span>
      </div>
    </div>
    <div class="sidebar-item">
      <span> <i class="bi bi-border-top"></i> Gestion Admin </span>
      <div class="link-bloc">
        <span id="link">Ajouter</span> <br />
        <span id="link">Lister</span>
      </div>
    </div>
    <div class="sidebar-item">
      <span> <i class="bi bi-border-top"></i> Gestion Evaluation </span>
      <div class="link-bloc">
        <span id="link">Ajouter</span> <br />
        <span id="link">Lister</span>
      </div>
    </div>
  </div>
</div>
