
<div class="container shadow p-4 w-75 " *ngIf="!showEvaluation">
    <!-- profil de l'apprenant qui est connecter  -->
    <div class="profil-mini container">
        <div class="card mb-3 shadow card-profil-apprenant" >
            <div class="row g-0">
              <div class="col-md-6 d-flex justify-content-center">
                <img src="https://img.freepik.com/free-photo/young-successful-african-businessman-posing-dark_176420-4970.jpg?size=626&ext=jpg&ga=GA1.1.1764900026.1693144917&semt=ais" class="img-fluid img-card-apprenant-profil" alt="..." width="350px" name="imageApprenantProfil">
              </div>
              <div class="col-md-6" >
                <div class="card-body">
                  <h1 class="card-title nom-connecter-apprenant">Nom Complet</h1>
                  <p class="card-text"> <span class="fw-bold">Address email : </span>nomcomplet@ecole.com</p>
                  <p class="card-text"> <span class="fw-bold">Classe : </span>1ére</p>
                  <p class="card-text"> <span class="fw-bold">Telephone : </span>77 000 00 00</p>
                </div>
              </div>
            </div>
          </div>
       </div>
    <!-- profil de l'apprenant qui est connecter  -->
    <!-- debut carte des cours pour l'evaluation -->
    <div class="container">
        <div class="card mb-3 w-50 shadow card-evaluation-apprenant">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdGuCwLPfgPt7R9e11uJplH10r9Rw7X7PujA&usqp=CAU" class="card-img-top img-card-apprenant w-100" alt="..." name="imageNoteAprenant">
            <div class="card-body">
              <h5 class="card-title">Mathématique</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, similique sit nostrum, ab magnam inventore esse atque amet consequuntur culpa sed officia? Eaque consequuntur nemo maxime, nostrum quasi non quam.</p>
              <div class="d-flex justify-content-end">
                <button class="voir-note"(click)="afficherFrmConnexion()">Voir evaluations</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- fin carte des cours pour l'evaluation -->
   
<!-- debut details voir note sur ce cour  -->
<div class="profil-mini container p-4 shadow" *ngIf="showEvaluation">
    <button (click)="afficherFrmConnexion()">retour</button>
    <div class="card mb-3 card-evaluation-apprenant" >
        <div class="row g-0">
          <div class="col-md-6 d-flex justify-content-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdGuCwLPfgPt7R9e11uJplH10r9Rw7X7PujA&usqp=CAU" class="img-fluid img-card-apprenant-profil" alt="..." width="350px" name="imageNoteDetailAprenant">
          </div>
          <div class="col-md-6" >
            <div class="card-body">
              <h1 class="card-title">Mathematique</h1>
              <p class="card-text">Profeseur: Bobo Diallo</p>
              <p class="card-text">Class: 1èreS</p>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum totam error perferendis numquam amet impedit possimus eius incidunt natus libero dignissimos, mollitia ex consequuntur illo? Libero neque culpa reprehenderit ipsum?</p>
            </div>
          </div>
        </div>
      </div>
    <div class="">
        <div class="d-flex justify-content-between">
            <p class="fw-bold">Les notes de Mathematiques </p>
            <select class="form-select w-25" aria-label="Default select example">
               <option value="">choix semestre</option>
               <option value="">semestre 1</option>
               <option value="">semestre 2</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Matiere</span></th>
                                    <th><span>Date</span></th>
                                    <th class=""><span>Status</span></th>
                                    <th>Note <span class="text-dark-emphasis">/20</span></th>
                                    <th><span>Année</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="d-flex align-items-center">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdGuCwLPfgPt7R9e11uJplH10r9Rw7X7PujA&usqp=CAU" alt="" class="img-card-apprenant-profil-note" width="50px">
                                        <div class="m-2">
                                            <p class="text-primary">Mathematique</p>
                                        </div>   
                                    </td>
                                    <td>
                                        06/10/2023
                                    </td>
                                    <td class="">
                                        <span class="label label-default">Fait</span>
                                    </td>
                                    <td class="">
                                        <p>18</p>
                                    </td>
                                    <td class="">
                                        <p>2023-2024</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin details voir note sur ce cour  -->

