<!-- profil de l'apprenant qui est connecter  -->
   <div class="profil-mini container p-4">
    <div class="card mb-3 shadow" >
        <div class="row g-0">
          <div class="col-md-6 d-flex justify-content-center">
            <img src="https://img.freepik.com/free-photo/young-successful-african-businessman-posing-dark_176420-4970.jpg?size=626&ext=jpg&ga=GA1.1.1764900026.1693144917&semt=ais" class="img-fluid img-card-apprenant-profil" alt="..." width="350px" name="imageApprenantProfil">
          </div>
          <div class="col-md-6" >
            <div class="card-body">
              <h1 class="card-title">Nom Complet</h1>
              <p class="card-text">Address email: nomcomplet@ecole.com</p>
              <p class="card-text">Class: 3eme</p>
              <p class="card-text">Telephone : 770000000</p>
            </div>
          </div>
        </div>
      </div>
   </div>
<!-- profil de l'apprenant qui est connecter  -->
<!-- debut carte des cours pour l'evaluation -->
<div class="container p-3">
    <div class="card mb-3 w-50 shadow">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdGuCwLPfgPt7R9e11uJplH10r9Rw7X7PujA&usqp=CAU" class="card-img-top img-card-apprenant w-100" alt="..." name="imageNoteAprenant">
        <div class="card-body">
          <h5 class="card-title">Mathematique</h5>
          <p class="d-flex justify-content-end">
            <select class="form-select w-25" aria-label="Default select example">
                <option value="">choix semestre</option>
                <option value="">semestre 1</option>
                <option value="">semestre 2</option>
            </select>
          </p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, similique sit nostrum, ab magnam inventore esse atque amet consequuntur culpa sed officia? Eaque consequuntur nemo maxime, nostrum quasi non quam.</p>
          <div class="d-flex justify-content-end">
            <button class="voir-note">Voir note</button>
          </div>
        </div>
      </div>
</div>
<!-- fin carte des cours pour l'evaluation -->
<!-- debut details voir note sur ce cour  -->
<div class="profil-mini container p-4 shadow">
    <div class="card mb-3" >
        <div class="row g-0">
          <div class="col-md-6 d-flex justify-content-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdGuCwLPfgPt7R9e11uJplH10r9Rw7X7PujA&usqp=CAU" class="img-fluid img-card-apprenant-profil" alt="..." width="350px" name="imageNoteDetailAprenant">
          </div>
          <div class="col-md-6" >
            <div class="card-body">
              <h1 class="card-title">Mathematique</h1>
              <p class="card-text">Profeseur: Bobo Diallo</p>
              <p class="card-text">Class: 3eme</p>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum totam error perferendis numquam amet impedit possimus eius incidunt natus libero dignissimos, mollitia ex consequuntur illo? Libero neque culpa reprehenderit ipsum?</p>
            </div>
          </div>
        </div>
      </div>
    <div class="d-flex justify-content-between">
        <p>Les notes de Mathematique</p>
        <select class="form-select w-25" aria-label="Default select example">
            <option value="">choix semestre</option>
            <option value="">semestre 1</option>
            <option value="">semestre 2</option>
        </select>
    </div>
</div>
<!-- fin details voir note sur ce cour  -->

