.img-card-apprenant{
    width: 100%;
    height: 250px;
}
.img-card-apprenant-profil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.voir-note{
    // color: orangered;
    // background-color: black;
    width: 175px;
    border-radius: 5px;
}
.select-note{

}